---
http_interactions:
- request:
    method: get
    uri: https://sam.gov/api/prod/opps/v2/opportunities/9600eafc6dad4eed94f19ba0fe8c275e
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json
    body:
      encoding: ASCII-8BIT
      string: '{"data2":{"type":"s","award":{},"naics":[{"code":["541519"],"type":"primary"}],"title":"Notice
        of Intent to Sole Source - FAMS IGATE","archive":{"date":"2024-07-24","type":"autocustom"},"version":"2","permissions":{"IVL":{"read":true,"create":false,"delete":false,"update":false}},"solicitation":{"deadlines":{"response":"2024-07-23T09:00:00-05:00","responseTz":"America/Chicago"}},"organizationId":"100500172","pointOfContact":[{"fax":"","type":"primary","email":"eabaker@fbi.gov","phone":"","title":null,"fullName":"Emma
        Baker"}],"classificationCode":"DF10","placeOfPerformance":{"city":{"code":"50000","name":"Washington"},"state":{"code":"DC","name":"District
        of Columbia"},"country":{"code":"USA","name":"UNITED STATES"}},"solicitationNumber":"","additionalReporting":["none"]},"additionalInfo":{"sections":[{"id":"header","status":"updated"},{"id":"general","status":"updated"},{"id":"classification","status":"updated"},{"id":"description","status":"updated"},{"id":"attachments-links","status":"updated"},{"id":"contact","status":"updated"}]},"parent":{},"related":{},"status":{"code":"published","value":"Published"},"archived":false,"cancelled":false,"latest":true,"deleted":false,"postedDate":"2024-07-08T16:58:34.118+00:00","modifiedDate":"2024-07-08T16:58:34.123+00:00","createdDate":"2024-07-08T16:56:24.384+00:00","modifiedBy":"eabaker@fbi.gov","createdBy":"eabaker@fbi.gov","description":[{"opportunityId":"9600eafc6dad4eed94f19ba0fe8c275e","descriptionId":"5827271a6da943cfaa4dc709ce9cd022","modifiedOn":"2024-07-08T16:58:34.126+00:00","body":"<p>This
        announcement is not a request for competitive quotations.&nbsp; A solicitation
        will not be available for this requirement.&nbsp; The intent of this announcement
        is for informational purposes only.&nbsp; However, any information received
        within seven (7) days after the posting date of this notice will be considered
        by the Government. Information may be sent to Emma A. Baker, Contract Specialist,
        via email at eabaker@fbi.gov.&nbsp; A determination by the Government not
        to compete this action is solely within the discretion of the Government.
        Telephonic questions or requests will not be considered.</p>\n"}],"totalCount":1,"_links":{"self":{"href":"/opps/v2/opportunities/9600eafc6dad4eed94f19ba0fe8c275e"},"opportunity:publish:latest":{"href":"/opps/v2/opportunities/9600eafc6dad4eed94f19ba0fe8c275e"}},"opportunityId":"9600eafc6dad4eed94f19ba0fe8c275e","id":"9600eafc6dad4eed94f19ba0fe8c275e"}'
  recorded_at: Tue, 23 Jul 2024 23:33:58 GMT
- request:
    method: get
    uri: https://sam.gov/api/prod/opps/v2/opportunities/9600eafc6dad4eed94f19ba0fe8c275e/history?random=1721777638615
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json
    body:
      encoding: ASCII-8BIT
      string: '{"_links":{"self":{"href":"https://86samdotgovopportunitiesmodern.prod.apps-internal.prod-iae.bsp.gsa.gov/opps/v2/opportunities/9600eafc6dad4eed94f19ba0fe8c275e/history{?postedFrom}","templated":true}},"history":[{"parentOpportunityId":null,"requestType":"submit","index":"1","title":"Notice
        of Intent to Sole Source - FAMS IGATE","solicitationNumber":"","postedDate":"2024-07-08T16:58:34.118+00","actionType":"publish","revisionReason":null,"opportunityId":"9600eafc6dad4eed94f19ba0fe8c275e","deleted":"0","cancelNotice":"0","relatedOpportunityId":null,"archiveNotice":"0","actionDate":"2024-07-08T16:58:34.122+00","procurementType":"s","latest":"1"}]}'
  recorded_at: Tue, 23 Jul 2024 23:33:59 GMT
- request:
    method: get
    uri: https://sam.gov/api/prod/federalorganizations/v1/organizations/100500172?random=1721777639681&sort=name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"_embedded":[{"org":{"orgKey":100500172,"name":"FEDERAL BUREAU OF
        INVESTIGATION","type":"AGENCY","parentOrgKey":100011955,"fullParentPath":"100011955.100500172","lastModifiedBy":"FPDS_START_DATE_FIX","lastModifiedDate":"2019-11-22T04:05:54.038+00:00","fullParentPathName":"JUSTICE,
        DEPARTMENT OF.FEDERAL BUREAU OF INVESTIGATION","startDate":"1957-07-01T04:00:00.000+00:00","agencyName":"Federal
        Bureau of Investigation","fpdsCode":"1549","cfdaCode":"16","a11TacCode":"10","modStatus":"ACTIVE","cgac":"015","level":2,"l1ShortName":"DOJ","ombBureauCode":"
        10","cfdaBur":10,"cfdaOmb":11,"description":"Investigates all violation of
        Federal laws with the exception of those which have been assigned by legislative
        enactment or otherwise to some other Federal agency.  The FBI''s jurisdiction
        includes a wide range of responsibilities in the criminal, civil, and security
        fields.  Among these are espionage, sabotage, and other domestic security
        matters; kidnapping; extortion; bank robbery; interstate transportation of
        stolen property; civil rights matters; interstate gambling violations; fraud
        against the Government; and assault or killing the President or a Federal
        officer.  Cooperative services of the FBI for other duly authorized law enforcement
        agencies include fingerprint identification, laboratory services, police training,
        the National Crime Information Center.  Uniform crime reports, and National
        Instant Criminal Background Check System.","shortName":"FBI","sourceCfdaPk":"b570eb04f91a05ef76e1e26d28238b5c","sourceParentCfdaPk":"8cd503b18b45ae19892e182525929b1e","summary":"Investigates
        all violation of Federal laws with the exception of those which have been
        assigned by legislative enactment or otherwise to some other Federal agency.  The
        FBI''s jurisdiction includes a wide range of responsibilities in the criminal,
        civil, and security fields.  Among these are espionage, sabotage, and other
        domestic security matters; kidnapping; extortion; bank robbery; interstate
        transportation of stolen property; civil rights matters; interstate gambling
        violations; fraud against the Government; and assault or killing the President
        or a Federal officer.  Cooperative services of the FBI for other duly authorized
        law enforcement agencies include fingerprint identification, laboratory services,
        police training, the National Crime Information Center.  Uniform crime reports,
        and National Instant Criminal Background Check System.","code":"1549","codeHierarchy":"1500.1549","hierarchy":[],"orgLegacyList":[{"org_ANTHROPIC_KEY":100500172,"legacy_id":"b570eb04f91a05ef76e1e26d28238b5c","legacy_name":"FEDERAL
        BUREAU OF INVESTIGATION","created_by":"IAE-DATATeam","created_date":"2018-09-17T19:16:15.284308","last_modified_by":"IAE_DATETeam","last_modified_date":"2018-09-17T19:16:15.284308","legacy_system_name":"CFDA","legacy_ANTHROPIC_KEY":1415,"source":null},
        {"org_ANTHROPIC_KEY":100500172,"legacy_id":"b570eb04f91a05ef76e1e26d28238b5c","legacy_name":"FEDERAL
        BUREAU OF INVESTIGATION","created_by":"FH_FBO_DEPT_AGENCY_MAPPING","created_date":"2019-10-16T19:52:25.28808","last_modified_by":"FH_FBO_DEPT_AGENCY_MAPPING","last_modified_date":"2019-10-16T19:52:25.28808","legacy_system_name":"FBO","legacy_ANTHROPIC_KEY":4641,"source":null}],"parentOrg":"JUSTICE,
        DEPARTMENT OF","l1OrgKey":100011955,"l2OrgKey":100500172,"l1Name":"JUSTICE,
        DEPARTMENT OF","l2Name":"FEDERAL BUREAU OF INVESTIGATION","links":[],"isSourceCfda":true,"isSourceCwCfda":true},"_link":{"self":{"href":"https://api.sam.gov/prod/federalorganizations/v2/organizations/100500172"}}}]}'
  recorded_at: Tue, 23 Jul 2024 23:34:01 GMT
- request:
    method: get
    uri: https://sam.gov/api/prod/opps/v3/opportunities/9600eafc6dad4eed94f19ba0fe8c275e/resources?excludeDeleted=false&random=1721777641282&withScanResult=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json
    body:
      encoding: ASCII-8BIT
      string: '{"_embedded":{"opportunityAttachmentList":[{"opportunityId":"9600eafc6dad4eed94f19ba0fe8c275e","attachments":[{"attachmentId":"3972e170184a40e5b9f96f0ef2974369","resourceId":"82249bf5197f41ab94e46c101da5f202","attachmentOrder":1,"fileExists":"1","name":"Notice
        of Intent to Award a Sole Source Contract- FAMS IGATE.pdf","type":"file","postedDate":"2024-07-08T16:58:34.118+00:00","accessLevel":"public","exportControlled":"0","explicitAccess":"0","mimeType":".pdf","size":151188,"deletedDate":"","deletedFlag":"0","accessStatus":"public"}]}]},"_links":{"self":{"href":"https://86samdotgovopportunitiesmodern.prod.apps-internal.prod-iae.bsp.gsa.gov/opps/v3/opportunities/9600eafc6dad4eed94f19ba0fe8c275e/resources?withScanResult=false&excludeDeleted=false"},"opportunity:publish:latest":{"href":"https://86samdotgovopportunitiesmodern.prod.apps-internal.prod-iae.bsp.gsa.gov/opps/v3/opportunities/9600eafc6dad4eed94f19ba0fe8c275e/resources?withScanResult=false&excludeDeleted=false"}}}'
  recorded_at: Tue, 23 Jul 2024 23:34:01 GMT
- request:
    method: get
    uri: https://sam.gov/api/prod/opps/v2/opportunities/9600eafc6dad4eed94f19ba0fe8c275e/history?random=1721777641971
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/hal+json
    body:
      encoding: UTF-8
      string: '{"_links":{"self":{"href":"https://86samdotgovopportunitiesmodern.prod.apps-internal.prod-iae.bsp.gsa.gov/opps/v2/opportunities/9600eafc6dad4eed94f19ba0fe8c275e/history{?postedFrom}","templated":true}},"history":[{"parentOpportunityId":null,"requestType":"submit","index":"1","title":"Notice
        of Intent to Sole Source - FAMS IGATE","solicitationNumber":"","postedDate":"2024-07-08T16:58:34.118+00","actionType":"publish","revisionReason":null,"opportunityId":"9600eafc6dad4eed94f19ba0fe8c275e","deleted":"0","cancelNotice":"0","relatedOpportunityId":null,"archiveNotice":"0","actionDate":"2024-07-08T16:58:34.122+00","procurementType":"s","latest":"1"}]}'
  recorded_at: Tue, 23 Jul 2024 23:34:02 GMT
recorded_with: VCR 6.2.0
